.map-container
  .map-view
    -location = @user.location
    .entity.you{:style => "left: #{location.x}px; top: #{location.y}px; background: #{@user.color}", :id => @user.id}
      .callout= @user.name
    .reach-ring{:style => "left: #{location.x - 120}px; top: #{location.y - 120}px;"}
    -User.all.find_all{|u| u.id != @user.id}.each do |user|
      -location = user.location
      .entity{:style => "left: #{location.x}px; top: #{location.y}px; background: #{user.color}", :id => user.id}
        .callout= user.name
    -Wall.all.each do |wall|
      .wall{:style => "left: #{wall.x}px; top: #{wall.y}px; background-color: #{wall.color};"}
  
.chat
  #tabs-1.message-list
        

  %input#chat-input{:type => "text"}
  
  
  
%script{:src => "/js/index.js", :type => "text/javascript"}
