
.hidey-hole
  -@walls.each do |wall|
    .hide{:style => "display: none"}= wall.id
.loading-mask
  .loading-box
    Loading
    %p
      %img{:src => "/images/ajax-loader.gif"}
-if @new_user
  .new-user-signup-overlay
  .new-user-signup
    %img{:style => "display: block; margin: 10px auto 30px auto; width: 184px; height: 27px;", :src => "/images/logo.png"}
    %p Pick a nickname, or use the one we generated for you:
    .row
      %input.new-name.input{:type => 'text', :value => @user.name}
      .button-holder{:style => "position: relative; top: -5px; display: inline-block;"}
        .just-name.awesome.green.large{:style => "display: inline-block"} Enter the Forum
    %br
    %p If you'd like to create a permanent account, just enter your email and password below.
    .row
      %label.label Email
      %input.input.email{:type => 'text'}
    .row
      %label.label Password
      %input.input.password{:type => 'password'}
    .row
      .permanent.awesome.green.giant Create Account & Enter the Forum
    .row
      %br
      Already have an account?
      %a{:href => "/logout"} Log In
    
.map-container
  .birds-eye{:style => "background-color: #{@map.birds_eye_background}"}
    -@users.each do |user|
      -location = user.location
      .pixel{:style => "left: #{location.x/24}px; top: #{location.y/24}px; background: #{user.color}", :id => "p" + user.id}
    -@walls.each do |wall|
      .pixel{:style => "left: #{wall.x/24}px; top: #{wall.y/24}px; background-color: ##{(9 - wall.power).to_s*3};", :id => "p" + wall.id}
    -@torches.each do |torch|
      -location = torch.location
      -light = torch.brightness/24
      -center = light
      -radius = light
      .glow{:style => "width: #{light*4}px; height: #{light*4}px; border-radius: #{light}px; left: #{location.x/24 - light}px; top: #{location.y/24 - light}px; background: -webkit-gradient(radial, #{center} #{center}, #{radius}, #{center} #{center}, 0, from(rgba(206,88,59,0.0)), to(#E7E084));"}
    .location-box
    
  .map-view{:style => "background-image: url('#{@map.background_tile}')"}
    .logo
      %img{:style => "width: 184px; height: 27px;", :src => "/images/logo.png"}
    -location = @user.location
    .entity.you{:style => "left: #{location.x}px; top: #{location.y}px; background: #{@user.color}", :id => @user.id}
      .reach-ring{:style => "left: -120px; top: -120px;"}
      
    -@notes.each do |note|
      -location = note.location
      .note{:style => "left: #{location.x}px; top: #{location.y}px;", :id => note.id}= note.message
      
    -@users.find_all{|u| u.id != @user.id}.each do |user|
      -location = user.location
      .entity{:style => "left: #{location.x}px; top: #{location.y}px; background: #{user.color}", :id => user.id}
        .callout= user.name
        
    -@npcs.each do |npc|
      -location = npc.location
      .entity{:style => "left: #{location.x}px; top: #{location.y}px; background: #{npc.color}", :id => npc.id}
        .callout= npc.name
        
    -@walls.each do |wall|
      .wall{:id => wall.id, :style => "left: #{wall.x}px; top: #{wall.y}px; background-color: ##{(9 - wall.power).to_s*3};"}
    
    -@teleporters.each do |tele|
      -location = tele.location
      .teleporter{:id => tele.id, :style => "left: #{location.x}px; top: #{location.y}px; background-image: url(#{tele.image_url})'"}
        .small-note= tele.name
    -@torches.each do |torch|
      -location = torch.location
      .torch{:id => torch.id, :style => "left: #{location.x}px; top: #{location.y}px; background-image: url(#{torch.image_url})'"}
        -light = torch.brightness
        -center = light + 8
        -radius = light
      .glow{:style => "width: #{light*4}px; height: #{light*4}px; border-radius: #{light}px; left: #{location.x - light}px; top: #{location.y - light}px; background: -webkit-gradient(radial, #{center} #{center}, #{radius}, #{center} #{center}, 0, from(rgba(206,88,59,0.0)), to(#E7E084));"}
  
.chat
  #tabs-1.message-list
  .top-spaced
    #distance-slider.dragdealer.rounded-cornered
      .red-bar.handle Medium
  %input#chat-input{:type => "text"}
  #dragdealer
  .settings
    %p
      %label Name
      %input.name-field{:type => "text", :value => @user.name}
    .set-name.awesome.green.medium{:style => "width: 158px; text-align: center"} Change Name
    -if @user.email.nil?
      %p
        %br
        %label Email
        %input.email-field{:type => "text"}
      %p
        %label Pass
        %input.pass-field{:type => "password"}
      .set-account.awesome.green.medium{:style => "width: 158px; text-align: center"} Create Account
      
    %p More coming soon (color, profile, picture)
    .settings-tab
  
:javascript
  window.mapID = '#{@user.map_id}';
  window.mapName = '#{@map.name}';
  window.userID = '#{@user.id}';
  window.userName = '#{@user.name}';
  window.welcomeMessage = '#{@map.welcome_message}'
#user-power{:style => "display: none; background-color: ##{(9 - @user.power).to_s*3}"}
%script{:src => "/js/index.js", :type => "text/javascript"}
